@import "../../../assets/styles/variables.sass"

.Header
    position: fixed
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 100px
    gap: 183px
    background: rgb(19 24 30 / 73%)
    border-bottom: 1px solid rgba(255,255,255,.1)
    z-index: 2

    &_List
        display: flex
        list-style: none
        margin: 0
        padding: 0
    &_Logo
        color: white
        display: flex
        align-items: center
        &--name
            font-weight: bold
        &--img img
            width: 4rem
    &_Contacto
        display: flex
        align-items: center
        color: white
        &--phone
            margin-right: 1rem
            color: white
            font-weight: bold
        &--phone a
            text-decoration: none
            color: white
    &_Item
        color: white
        &--link
            margin: 1rem
            text-decoration: none

    &_Sublist
        &--list
            padding: 0
        &--content
            position: absolute
            border-radius: 2rem
            margin: 0 auto
            padding: 1rem
            background: rgba(19, 24, 30, 0.8)
            align-items: center
            justify-content: center
            gap: 1rem
            display: none
            margin-top: 2rem

.Header
    &_List
        &--workAreas
            position: relative

        &--item
            &--subList
                width: 8rem
                padding: 2rem 0
                position: absolute
                top: -1rem
                display: flex
                justify-content: center
        &--SubMenu
            display: flex
            padding: 1rem 9px
            border-radius: 1rem
            border: solid 1px #ffffff73
            width: 100%
            margin: 1.5rem 0
            &:hover
                background: #ffffff4a
            &--text
                width: 20vw
                max-width: 27rem
            &--icon
                margin: 0 2rem

            &--description
                color: white

.smth
  //some CSS
@media screen and (min-width:$medium)
    .Header_List--workAreas
        &:hover .Header_Sublist--content
            display: flex
            align-items: center
            justify-content: center
    .Header_List--workAreas
        &:hover
            display: block
