@import "../../../../assets/styles/variables.sass"

.MenuLink
    text-decoration: none
.Link
    &_SubMenu
        text-decoration: none
        color: white
        margin: 0rem 0
    &_buttonWithouColor
        border: 2px solid #FFFFFF
        border-radius: 8px
        border-radius: 8px
        padding: 7px 1rem
        margin: 1rem
        color: white
        text-decoration: none
        font-size: 0.9rem
        display: flex
        align-items: center
        height: auto
        transition: all 0.3s ease-in-out
        &:hover
            background: #282E3F
            border: 2px solid #282E3F
            border-radius: 8px
            padding: 7px 1rem
            margin: 1rem
            color: white
            text-decoration: none
            font-size: 0.9rem
            display: flex
            align-items: center
            height: auto

// .Header_List--SubMenu
//     text-decoration: none
//     color: black
//     padding: 0.5rem 1rem
//     margin: 0.6rem 0
//     &:hover
//         background: #ffffff69

.smth
  //some CSS
@media screen and (min-width:$medium)
    .MenuLink__Text
        &:hover
            color: #ffffff
            font-weight: 600
        &:hover .Header_Sublist
            display: block
    .Link_SubMenu
        &:hover
            color: #ffffff
            font-weight: 100
