@import "../../../../assets/styles/variables.sass"

.MenuLink
    text-decoration: none
.Link
    &_SubMenu
        text-decoration: none
        color: black
        margin: 0rem 0
    

.Header_List--SubMenu
    text-decoration: none
    color: black
    padding: 0.5rem 1rem
    margin: 0.6rem 0
    &:hover
        background: #ffffff69

.smth
  //some CSS
@media screen and (min-width:$medium)
    .MenuLink__Text
        &:hover
            color: #282E3F
        &:hover .Header_Sublist
            display: block
    .Link_SubMenu
        &:hover
            color: black !important
