@import "../../../../assets/styles/variables.sass"

.MenuLink
    text-decoration: none
.Link_SubMenu
    text-decoration: none
    color: black
    margin: 1rem 0

.smth
  //some CSS
@media screen and (min-width:$medium)
    .MenuLink__Text
        &:hover
            color:#7C9ECD
        &:hover .Header_Sublist
            display: block
    .Link_SubMenu
        &:hover
            color: black !important