.Container
    &_TeamView
        max-width: 96%
        padding: 0 3rem
        background: white
        display: flex
        flex-direction: row
        &--one
            background-image: url(https://firebasestorage.googleapis.com/v0/b/javieralfonsoabogados-1360d.appspot.com/o/About%2Fteam.jpg?alt=media&token=bc9a86de-23af-4ac3-8ca6-0e4c0641819a)
            background-repeat: no-repeat
            background-size: 90%
            background-position: center
            width: 50%
            align-items: center
            flex-direction: column
            justify-content: center
            display: flex
            &--photo
                width: 32rem
                display: flex
                border-radius: 1rem

        &--two
            width: 50%
            padding: 4rem
        &--content
            margin: 3rem 0
