
@import "../../../../assets/styles/variables.sass"

.Content_MenuMobile
    background: #13181E
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    z-index: 9

    &--header
        display: flex
        justify-content: space-between
        width: 100%
        padding: 0 1rem
    &--logo
        height: 3rem
    &--item
        width: 87%
        text-align: center
        padding: 1.2rem 0.5rem
        border-bottom: solid 1px #FFFFFF
        margin: 0 2rem

    &--subMenu
        width: 100%
        margin-top: 3rem
        height: 100vh
        position: fixed
        background: #13181E
        padding: 4rem 0
        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

    &--header
        position: fixed
        background: #13181E
        z-index: 2
        padding: 0.4rem 1rem
    &--cta

.Details
    &_SubMenu
        display: flex
        align-items: center
        align-content: center
        outline: none
        width: 100%
        &--flecha
            font-size: 17px
            line-height: 28px
            color: #959595
            padding-left: 2rem
            text-align: left
            font-family: verdana
            margin-bottom: 10px
        &--title
            display: flex
            width: 100%
            width: 87%
            text-align: center
            padding: 1.2rem 0.5rem
            border-bottom: solid 1px #FFFFFF
            margin: 0 2rem
            justify-content: center

            &::after
                content: ">"
                font-size: 1.5rem
                position: relative
                left: -1rem
                color: lightgray

.smth
  //some CSS
@media screen and (max-width:$small)
    .Header
        padding: 0
        display: flex
        justify-content: center
    .slide-left
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

    .slide-right
        -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

    @-webkit-keyframes slide-right
        0% 
        -webkit-transform: translateX(0)
        transform: translateX(0)

        100% 
        -webkit-transform: translateX(100vh)
        transform: translateX(100vh)

    @keyframes slide-right
        0%
            -webkit-transform: translateX(0)
            transform: translateX(0)

        100%
            -webkit-transform: translateX(100vh)
            transform: translateX(100vh)

    @-webkit-keyframes slide-left
        0% 
        -webkit-transform: translateX(0)
        transform: translateX(0)

        100% 
        -webkit-transform: translateX(-100vh)
        transform: translateX(-100vh)

    @keyframes slide-left
        0%
            -webkit-transform: translateX(0)
            transform: translateX(0)

        100%
            -webkit-transform: translateX(-100vh)
            transform: translateX(-100vh)
