.Container
    width: 100%
    height: auto
    min-height: 75vh
    margin: 0 auto
    &_generalCard
        max-width: 96%
        background: white
        display: flex
        flex-direction: row
        justify-content: center
        &--one
            background-repeat: no-repeat
            background-size: 90%
            background-position: center
            width: 50%
            align-items: center
            flex-direction: column
            justify-content: center
            display: flex
            &--photo
                width: 32rem
                display: flex
                border-radius: 1rem

        &--two
            width: 50%
            display: flex
            align-items: center
            justify-content: center
            &--content
                max-width: 40rem
        &--content
            margin: 3rem 0

.Phrase_about
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    width: 92%
    margin-top: 3rem

    &-text
        color: black
        text-align: center

    &-icon
        margin: 0 3rem

.Factors_why
    padding: 0
    margin: 2rem 0

    &--content
        display: flex
        align-items: center
        margin: 1.5rem 0

    &--img
        margin: 0 1rem
    &--item
        font-style: normal
        font-size: 18px
        line-height: 110%
        color: #13181E
        flex: none
        font-weight: 900
