.Container
    &_generalCard
        max-width: 96%
        padding: 0 3rem
        background: white
        display: flex
        flex-direction: row
        &--one
            background-repeat: no-repeat
            background-size: 90%
            background-position: center
            width: 50%
            align-items: center
            flex-direction: column
            justify-content: center
            display: flex
            &--photo
                width: 32rem
                display: flex
                border-radius: 1rem

        &--two
            width: 50%
            padding: 4rem
        &--content
            margin: 3rem 0

.Phrase_about
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    width: 92%
    margin-top: 3rem

    &-text
        color: black
        text-align: center

    &-icon
        margin: 0 3rem
