@import "../../../assets/styles/variables.sass"

.Container_Title
    &--title
        font-size: 2.5rem
        color: black
        font-weight: 700

        &--workAreas
            margin: 2rem
            color: white
        &--team
            margin: 2rem
            color: white
            display: flex
            align-items: center
            justify-content: center
        &--firmas
            margin: 2rem
            display: flex
            align-items: center
            justify-content: center
        &--PosHeader_title
            color: white
            margin: 1rem
            font-size: 4rem

        &--PosHeader_subtitle
            color: white
            font-size: 1rem
            font-weight: 100
            margin: 1rem 0 2rem 1rem

.Container_Banner
    &--title
        text-align: center

    &--subTitle
        text-align: center

.smth
  //some CSS
@media screen and (max-width:$small)

