@import "../../../../assets/styles/variables.sass"

.Container
    &_WorkAreas
        height: auto !important
        padding: 0 3rem
        display: flex
        justify-content: flex-start
        flex-direction: column
        align-items: center
        background: #212955
        &--moreCta
            display: flex
            align-items: center
        &--more
            margin: 2rem
            margin-bottom: 3rem
            width: 70%
            display: flex
            justify-content: space-between

        &--cards
            padding: 2rem 0
            border-bottom: solid 1px rgba(255, 255, 255, 0.3411764706)
            margin-bottom: 2rem
            display: flex
            margin: 2rem auto
            justify-content: center
            flex-wrap: wrap
            width: 80%
            min-width: 69rem
            max-width: 70rem
        &--card
            transition: .5s
            width: 23rem
            color: white
            padding: 1rem
            &--title
                margin: 1rem 0

            &--href
                text-decoration: none
                margin: 1rem 0
                transition: .5s
                &Txt
                    text-align: start
                    margin: 1rem 0
                    color: transparent
            &--more
                width: 100%
                display: flex
                justify-content: space-between
                margin: 2rem 0
                max-width: 73vw

                &Texto
                    max-width: 21rem
                    text-align: justify

                &Cta
                    display: flex
                    align-items: center

@media screen and (min-width: $medium)
    .Container
        &_WorkAreas
            &--card
                &:hover
                    background: #77777785
                    &:hover .Container_WorkAreas--card--hrefTxt
                        cursor: pointer
                        color: white
            &--cards div:nth-child(3n+1)
                border-right: solid 2px white
                border-radius: 1rem 0 0 1rem

            &--cards div:nth-child(4)
                border-radius: 0 0 0 1rem

            &--cards div:nth-child(1)
                border-radius: 1rem 0 0 0
                border-bottom: solid 2px white

            &--cards div:nth-child(2)
                border-bottom: solid 2px white

            &--cards div:nth-child(6)
                border-left: solid 2px white
                border-radius: 0 0 1rem 0

            &--cards div:nth-child(3)
                border-left: solid 2px white
                border-bottom: solid 2px white
                border-radius: 0 1rem 0 0
            &--more
                margin: 2rem
                margin-bottom: 3rem

@media screen and (max-width: $small)
    .Container
        &_WorkAreas
            width: 100%
            padding: 0
            height: auto
            &--cards
                width: auto
                margin: 0
                height: auto
                padding: 0 0 2rem 0
                max-width: 100%
                min-width: 100%
            &--text
                width: 100%
                display: flex
                margin: 2rem 0 0 0
                flex-direction: column
                align-items: center
            &--more
                margin: 2rem
                margin-bottom: 3rem
                width: 80%
                display: flex
                justify-content: space-between
                flex-direction: column
            &--moreCta
                display: flex
                align-items: center
                justify-content: space-between
