@import "../../../../assets/styles/variables.sass"

.Container_TeamMember
    &--card
        position: relative
        &--img
            min-height: 23rem
            max-height: 23rem
            object-fit: unset
            transition: .5s
            border-radius: 2rem
        &--details
            background: white
            padding: 1rem 0
            text-align: center
            position: absolute
            z-index: 999
            transition: .5s
            border-radius: 0 0 2rem 2rem
            width: 100%
            -webkit-animation: moveDown 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
            animation: moveDown 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        &--name
            text-align: center
            color: #282E3F
            margin: 1rem

        &--specialist
            text-align: center
            color: #13181E
            margin: 1rem

.smth
  //some CSS
@media screen and (max-width: $small)

    .Container_TeamMember--card--details
        position: static
        border-bottom: solid 1px lightgray
        border-radius: 0
        background: transparent

@media screen and (min-width: $medium)
    .Container_TeamMember
        &--card
            &--img
                filter: grayscale(80%)
                &:hover
                    filter: grayscale(0)

            &:hover .Container_TeamMember--card--details
                -webkit-animation: moveUp 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
                animation: moveUp 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

    @keyframes slide-top

        0%
            transform: translateY(0)
        100%
            transform: translateY(-100%)

    @keyframes slide-bottom
        0%
            transform: translateY(0)

        100%
            transform: translateY(100px)

    @keyframes moveUp
        0%
            transform: translateY(0)

        100%
            transform: translateY(-100%)

    @keyframes moveDown
        0%
            transform: translateY(-100%)

        100%
            transform: translateY(0)
