
@import "../../../../assets/styles/variables.sass"

.Container

    &_Team
        padding: 0 4rem
        display: flex
        flex-direction: column
        background-repeat: no-repeat
        background-size: 50%
        display: flex
        align-items: center
        flex-direction: column
        justify-content: flex-end
        height: 23rem

        &--slider
            width: 80%
            margin: 2rem auto -27rem auto
            max-width: 85rem
        &--footer
            padding: 2rem 0
            display: flex
            justify-content: space-between

.smth
  //some CSS
@media screen and (max-width: $small)
    .Container_Team
        padding: 0 2rem
        &--footer
            flex-direction: column
        &--slider
            width: 100% !important
            max-width: none !important

@media screen and (max-width: $medium)
